{% include 'header.html' %}

<div class="container">
  <h2 style="color:grey;">Change Password</h2><hr><br><br><br><br>

  <form class="form-horizontal" method="post">
      {% csrf_token %}

  {% csrf_token %}
  {{ form }}

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-1"></label>-->
            <!--<label class="control-label col-sm-2">PASSWORD:</label>-->
            <!--<div class="col-sm-6">-->
                <!--{{ form.password }}-->
            <!--</div>-->
            <!--<label class="control-label col-sm-3"></label>-->
        <!--</div><br>-->


        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-1"></label>-->
            <!--<label class="control-label col-sm-2">NEW PASSWORD:</label>-->
            <!--<div class="col-sm-6">-->
                <!--{{ form.new_password }}-->
            <!--</div>-->
            <!--<label class="control-label col-sm-3"></label>-->
        <!--</div><br>-->


        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-1"></label>-->
            <!--<label class="control-label col-sm-2">CONFIRM PASSWORD:</label>-->
            <!--<div class="col-sm-6">-->
                <!--{{ form.confirm_password }}-->
            <!--</div>-->
            <!--<label class="control-label col-sm-3"></label>-->
        <!--</div><br>-->

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="submit" class="btn btn-success btn-block" resize="20">Submit</button>
      </div>
    </div>
  </form>
</div>

{% include 'footer.html' %}
