{% include 'header.html' %}

<div class="container">
  <h2 style="color:grey;">Feedback</h2><hr><br><br><br><br>

  <form class="form-horizontal" method="post">
      {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <label class="control-label col-sm-2">NAME:</label>
            <div class="col-sm-6">
              <!--<input type="text" class="form-control" id="name" placeholder="Enter the name.." name="name" required="">-->
                {{ form.name }}

            </div>
            <label class="control-label col-sm-3"></label>
        </div>

    <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2">EMAIL:</label>
      <div class="col-sm-6">
        <!--<input type="email" class="form-control" id="email" placeholder="Enter the email.." name="email" required="">-->
        {{form.email}}
      </div>
      <label class="control-label col-sm-3"></label>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2">STARS:</label>
      <div class="col-sm-6">
          <!--<select class="form-control" id="star" name="stars">-->
            <!--<option value="5-star">5-STAR</option>-->
            <!--<option value="4-star">4-STAR</option>-->
            <!--<option value="3-star">3-STAR</option>-->
            <!--<option value="2-star">2-STAR</option>-->
            <!--<option value="1-star">1-STAR</option>-->

          <!--</select>-->
        {{form.stars}}
      </div>
      <label class="control-label col-sm-3"></label>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2">MESSAGE:</label>
      <div class="col-sm-6">
        <!--<textarea id="message" name="message" class="form-control" placeholder="typing..." required=""></textarea>-->
        {{form.message}}
      </div>
      <label class="control-label col-sm-3"></label>
    </div>

  </br>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="submit" class="btn btn-success btn-block" resize="20">Submit</button>
      </div>
    </div>
  </form>
</div>

{% include 'footer.html' %}
