{% include 'header.html' %}

<div class="container">
    <form class="form-signup" action="" method="post">{% csrf_token %}
        <h2><center>Create Your Account</center></h2><br><br><br>
        <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <label class="control-label col-sm-2">FIRST NAME:</label>
            <div class="col-sm-6">
                {{ form.first_name }}
            </div>
            <label class="control-label col-sm-3"></label>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <label class="control-label col-sm-2">LAST NAME:</label>
            <div class="col-sm-6">
                {{ form.last_name }}
            </div>
            <label class="control-label col-sm-3"></label>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <label class="control-label col-sm-2">EMAIL:</label>
            <div class="col-sm-6">
                {{ form.email }}
            </div>
            <label class="control-label col-sm-3"></label>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <label class="control-label col-sm-2">USERNAME:</label>
            <div class="col-sm-6">
                {{ form.username }}
            </div>
            <label class="control-label col-sm-3"></label>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <label class="control-label col-sm-2">PASSWORD:</label>
            <div class="col-sm-6">
                {{ form.password1 }}
            </div>
            <label class="control-label col-sm-3"></label>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <label class="control-label col-sm-2">PASSWORD AGAIN:</label>
      <div class="col-sm-6">
          {{ form.password2 }}
      </div>
      <label class="control-label col-sm-3"></label>
    </div><br>


    <br>
    <input style="border:1px solid;position:absolute;width:150px;height:40px;top:450px;left:400px;font-size:17px;" type="submit" name="submit" class="btn btn-primary" value="Create account">

</form><br><br><br><br><br>

</div>

{% include 'footer.html' %}
